@media (max-width: 1024px) {
    .functions-table tr > td:first-child {
        min-width: 288px;
    }

    .functions-table tr > td:not(:first-child) {
        min-width: 222px;
    }

    .field-area {
        width: 314px;
    }

    .new-form-btn {
        padding: 20px 44px;
    }
}

@media (max-width: 768px) {
    .field-area {
        width: 230px;
    }

    .fixed-header-bg-color .table-rates th {
        padding-left: 46px;
        font-size: 16px;
        padding-right: 82px;
    }

    .fixed-header-bg-color .header-row > td {
        font-size: 18px;
    }

    .table-rates th {
        font-size: 20px;
    }

    .header-row > td {
        font-size: 21px;
    }

    .functions-table tr {
        padding: 25px 0;
    }

    .functions-table tr > td:first-child {
        min-width: 206px;
    }

    .functions-table tr > td:not(:first-child) {
        min-width: 164px;
    }

    .absolute-ruble {
        top: auto;
        bottom: calc(100% + 4px);
    }

    .actions-place {
        justify-content: space-between;
    }

    .calculator-actions {
        font-size: 15px;
    }
    .question-hint {
        width: 230px;
    }
}

@media (max-width: 660px) {
    .field-area,
    .new-form-btn-2 {
        width: 100%;
    }

    .form-field {
        padding-right: 35px;
    }

    .new-form-btn-1,
    .rates-outer-block {
        display: none;
    }

    .new-calculator-form__new-form-fields,
    .new-form-btns,
    .triangle-btn,
    .rates-outer-block-mobile {
        display: block;
    }

    .new-form-btn-2:hover {
        background-color: #0072BC;
        color: #fff;
    }

    .new-form-btn-2:active {
        background-color: transparent;
        color: #0072BC;
    }

    .new-form-btns {
        margin-top: 42px;
    }

    .question-hint {
        width: 260px;
    }

    .rates-outer-block-mobile {
        margin-top: 20px;
    }
}

@media (max-width: 376px) {
    .new-calculator-form {
        margin-top: 10px;
    }

    .download-table-mobile {
        font-size: 17px;
    }
}

@media (max-width: 321px) {
    .calculate-btn {
        font-size: 16px;
    }

    .download-table-mobile {
        font-size: 14px;
    }

    .field-description > label {
        font-size: 14px;
    }
}
