@font-face {
    font-family: "HelveticaNeueCyr-Black";
    src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff");
}

@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.main-content__calculator,
.main-content__calculator * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content__calculator {
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 762px;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.main-content__calculator a {
    text-decoration: none;
}

.main-content__calculator > h2 {
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    color: #313844;
    position: relative;
    text-align: center;
    line-height: 35px;
}

.main-content__calculator > h2:after {
    content: "";
    display: block;
    width: 167px;
    height: 4px;
    background-color: #0072bc;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.calculator-form-wrapper {
    width: 100%;
    max-width: 1140px;
    margin-top: 60px;
}

.new-form-area > h3 {
    text-align: center;
}

.new-calculator-form__new-form-fields {
    width: 100%;
    display: flex;
    justify-content: center;
}

.field-area {
    width: 362px;
}

.field-area-1 {
    margin-right: 24px;
}

.field-description {
    padding: 7px 20px 0 0;
    display: flex;
    position: relative;
}

.question-hint {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 430px;
    box-shadow: 0 6px 10px -1px #888;
    padding: 30px 30px;
    background-color: #fff;
    z-index: 3;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
}

.question-hint > p {
    font-size: 16px;
}

.field-description > label {
    font-size: 18px;
}

.field-area-2 .field-description > label {
    margin-left: 10px;
}

.form-field {
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    margin-top: 30px;
}

.form-field,
.form-field::placeholder {
    font-size: 16px;
}

.form-field::placeholder {
    transition: color .4s;
}

.form-field:focus::placeholder {
    color: transparent;
}

.input-place {
    position: relative;
}

.triangle-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: none;
}

.triangle-up {
    border-bottom: 20px solid #2CC6F5;
    transform: translateY(-30%);
}

.triangle-down {
    border-top: 20px solid #2CC6F5;
    transform: translateY(86%);
}

.question-mark {
    min-width: 20px;
    height: 20px;
    background: url('img/staff_selection/main-content/calculator/question-mark.svg') no-repeat center / 100% 100%;
    border-radius: 50%;
}

.question-mark:hover ~ .question-hint {
    opacity: 1;
}

.new-form-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.new-form-btn {
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 24px 60px;
    cursor: pointer;
    transition: background-color .4s;
}

.new-form-btn-1 {
    background-color: #17A5A3;
    border: 1px solid #17A5A3;
    margin-right: 30px;
}

.new-form-btn-2 {
    background-color: #0072BC;
    border: 1px solid #0072BC;
}

.new-form-btn-1:hover {
    background-color: transparent;
    color: #17A5A3;
}

.new-form-btn-2:hover {
    background-color: transparent;
    color: #0072BC;
}

.sticky-rink {
    width: 100%;
}

.rates-outer-block,
.rates-outer-block-mobile {
    width: 100%;
    max-width: 1140px;
}

.rates-outer-block {
    margin-top: 80px;
    position: relative;
}

.rates-outer-block-mobile {
    display: none;
    margin-top: 40px;
}

.mobile-table-place,
.rates-mobile-table {
    width: 100%;
}

.table-rates,
.functions-table {
    width: 100%;
    border-collapse: collapse;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.header-row {
    border-bottom: 1px solid #313844;
}

.table-rates th,
.table-rates td {
    padding: 10px;
}

.table-rates th {
    text-align: left;
    font-size: 26px;
    color: #313844;
    font-weight: 400;
    padding-left: 0;
}

.header-row > td {
    color: #0072BC;
    font-size: 28px;
    font-weight: 900;
    font-family: HelveticaNeueCyr-Black, Arial, sans-serif;
}

.table-rates td {
    text-align: center;
}

.rates-table-link {
    color: #0072bc;
    cursor: pointer;
}

.prices-row td {
    padding-top: 20px;
}

.prices-row td > span,
.rates-price-mobile > span {
    display: block;
}

.rates-mobile-header,
.rates-prices-mobile-header,
.rates-price-mobile > span:not(:first-child) {
    font-weight: 100;
}

.rates-mobile-header {
    text-align: left;
}

.rates-prices-mobile-header,
.rates-price-mobile,
.rates-price-mobile > span:not(:first-child) {
    text-align: right;
}

.rates-price-mobile {
    font-weight: 700;
    font-size: 18px;
}

.rates-price-mobile > span:not(:first-child) {
    font-size: 14px;
    color: #828282;
    margin-top: 17px;
}

.rates-mobile-table tr {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.mobile-table-header {
    font-size: 18px;
    color: #313844;
}

.rates-name-mobile {
    font-size: 18px;
    color: #0072BC;
    font-weight: 900;
    font-family: HelveticaNeueCyr-Black, Arial, sans-serif;
}

.download-table-mobile {
    display: block;
    width: 100%;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #17A5A3;
    border: 1px solid #17A5A3;
    transition-duration: .4s;
    margin-top: 15px;
    text-align: center;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.period {
    font-size: 14px;
    color: #828282;
    margin-top: 10px;
}

.functions-window {
    width: 100%;
    background-color: #FBFBFB;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-top: 50px;
    height: 370px;
    transition: height 1s;
    overflow-y: clip;
    position: relative;
}

.pivot-header > th {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.functions-table tr {
    border-bottom: 1px solid rgba(49, 56, 68, .2);
    display: flex;
    min-height: 90px;
}

.functions-table tr.pivot-header {
    border-bottom: 1px solid #313844;
}

.functions-table tr.pivot-header:not(:first-child) {
    margin-top: 50px;
}

.functions-table tr > td {
    display: flex;
    align-items: center;
}

.functions-table tr > td:first-child {
    min-width: 328px;
    position: relative;
}

.functions-table tr > td:not(:first-child) {
    justify-content: center;
    min-width: 261px;
}

.rates-wrapper {
    position: sticky;
    top: -.5px;
    transition-duration: .4s;
}

.rates-wrapper,
.table-rates {
    min-height: 130px;
}

.fixed-header-bg-color {
    background-color: #0072bc;
    padding: 10px 4px;
    z-index: 5;
}

article.fixed-header-bg-color * {
    color: #fff;
}

.fixed-header-bg-color .header-row {
    border-bottom-color: #fff;
}

.fixed-header-bg-color .header-row > td {
    font-size: 20px;
}

.fixed-header-bg-color .table-rates th {
    padding-left: 143px;
    font-size: 16px;
}

.fixed-header-bg-color .block_with_question_mark {
    display: none;
}

.fixed-header-bg-color .request-rate-flex {
    display: table-cell;
}

.absolute-ruble {
    position: absolute;
    top: 2px;
    right: 0;
}

.functions-table .question-hint {
    left: calc(100% + 15px);
    top: 0;
}

.footnote {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footnote > p {
    margin-left: 10px;
}

.actions-place {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    position: relative;
}

.mist:before {
    content: '';
    display: block;
    width: 102%;
    height: 199px;
    background-image: linear-gradient(to top, rgba(255,255,255, 1) 20%, rgba(255,255,255, .7) 87%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateX(-1%);
}

.calculator-actions {
    padding: 24px 60px;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    transition-duration: .4s;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.calculator-actions:first-child {
    margin-right: 30px;
}

.show-functionality-btn {
    border: 1px solid #17A5A3;
    background-color: #17A5A3;
}

.download-comparison-table-link {
    border: 1px solid #0072BC;
    background-color: #0072BC;
}

.calculator-actions:hover {
    background-color: transparent;
}

.show-functionality-btn:hover {
    color: #17A5A3;
}

.download-comparison-table-link:hover {
    color: #0072BC;
}

.rates-table-link:hover {
    text-decoration: underline;
}

.block_with_question_mark {
    display: inline-block;
    position: relative;
    margin-top: 9px;
    padding-right: 17px;
}

.block_with_question_mark > .question-mark {
    min-width: 15px;
    height: 15px;
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-38%);
}

.block_with_question_mark > .question-hint {
    width: 230px;
    padding: 14px;
}

.request-rate-flex {
    display: flex;
    justify-content: center;
}

a.whatsapp-link {
    color: #0072BC;
    text-decoration: underline;
}

.bold-text {
    font-weight: 900;
}